body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #14bdac;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;

}

.status {
    margin-bottom: 10px;
}

.square {
    background: none;
    /*border: 2px solid ivory;*/
    border: none;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: 80px;
    padding: 0;
    text-align: center;
    width: 80px;
    color: #2f89c5;
    border-width: 4px
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    width:100%;
    margin-top:120px;
}

.game-info {
    padding: 20px;
}

.winner-style {
    color: red;
    border-color: #2f89c5;
}

.game-turn {
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}

.game-control {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .game-turn {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .game-status-specification {
        font-size: 24px;
        padding-left: 10px;
        font-weight: bold;
    }

    .game-control {
        width: 220px;

    }

    .square {
        width: 86.66666px;
        height: 86.66666px;
    }

};