body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #7b7b7b;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;

}

.status {
    margin-bottom: 10px;
}

.square {
    background: none;
    border: none;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
    color: #2f89c5;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    width:100%;
    margin-top:200px;
}

.game-info {
    margin-left: 20px;
}

