body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background-color: #14bdac;
    margin:0;
}

ol, ul {
    padding-left: 30px;
}

/* Block */
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:120px;
    margin-left: -10px;
}

.btn {
    text-decoration: none;
    background-color: white;
    color: #888;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
    padding:10px 5px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn__startGame {
    margin: auto;
    color: white;
    background-color: #333333;
    height: 60px;
}

.btn:focus {
    outline: 0;
} 

/*before game start, start button occupies the whole page */
.startGame {
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: fixed;
    display: flex;
    background: rgba(145,157,165,0.4);
    transition: opacity 2s;
}

/* Elements */
.game__info {
    padding: 20px;
    display:none;
}

.game__control {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.game__turn {
    box-sizing: border-box;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.game__board {
    display: flex;
    justify-content: space-around;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;

}

.status {
    margin-bottom: 10px;
}

.square {
    background: none;
    /*border: 2px solid ivory;*/
    border: none;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: 80px;
    padding: 0;
    text-align: center;
    width: 80px;
    color: #2f89c5;
    border-width: 4px;
    transition: 0.4s ease;

}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}



.winner-style {
    color: #d00a76;
    border-color: #2f89c5;

}



@media (min-width: 0px) and (max-width: 577px) {
    .game__turn,
    .game__board, 
    .game__control,
    .game__info {
        width: 350px;
    }
    
    .square {
        width: 86.66666px;
        height: 86.66666px;
    }

    .game__turn {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .btn {
        font-size: 16px;
        font-weight: 600;
    }

/*    .game-status-specification {
        font-size: 24px;
        padding-left: 10px;
        font-weight: bold;
    }*/



     .winner-transition {
        font-size: 40px;
    }

}

@media (min-width: 578px) and (max-width: 960px) {
    .game__turn,
    .game__board, 
    .game__control,
    .game__info {
        width: 500px;
    }

    .square {
        width: 116.66666px;
        height: 116.66666px;
    }

    .game__turn {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .btn {
        font-size: 18px;
        font-weight: 600;
    }

     .winner-transition {
        font-size: 50px;
    }

}

@media (min-width: 961px) {
    .game {
        margin-top: 60px;
    }
    .game__turn,
    .game__board, 
    .game__control,
    .game__info {
        width: 700px;
    }

    .square {
        width: 156.66666px;
        height: 156.66666px;
    }

    .game__turn {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .btn {
        font-size: 20px;
        font-weight: 600;
    }

    .winner-transition {
        font-size: 60px;
    }

}